@{
    Layout = "_ShopLayout.cshtml";
}
@model Mu.Repository.ShopKart


<div class="col-lg-12 well">
    <h3> Itens No Carrinho</h3>
    @if (Model != null)
    {
        if (Model.Requests != null)
        {
            <table class="table table-striped table-hover table-condensed text-center">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            Item
                        </th>
                        <th style="text-align:center">
                            Valor
                        </th>
                        <th style="text-align:center">
                            Adcional
                        </th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var request in Model.Requests.ToList())
                    {
                        <tr>

                            <td>
                                @request.Item.ItemName
                            </td>
                            <td>
                                @request.Item.ItemValue.ToString("C")
                            </td>
                            <td>
                                @(request.Item.AddOptions ? "+13 +28" : "+0 +0")
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align:center">
                            Total
                        </th>
                        <th style="text-align:center">
                            @Model.Requests.Sum(i => i.Item.ItemValue).ToString("C")
                        </th>
                    </tr>
                </tfoot>
            </table>
            <br />

            <p>Dados Para Deposito/Transferencia</p>
            <p>Banco Itau</p>
            <p>Agencia: 8486</p>
            <p>Conta: 26394-3</p>
            <p> Favorecido: Daniel Santos Porto</p>
            using (Html.BeginForm("PayAction", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-lg-12 well inner-well">
                    <p class=" text-info">
                        Escrava aqui os dados do comprovante de pagamento<br />
                        Horario, Valor, Numero Transferencia, etc. Todos os dados
                    </p>
                    <input type="hidden" name="ShopCartId" value="@Model.Id">
                    <textarea cols="50" rows="20" name="paidInfo">
                        Dados do Comprovante
                    </textarea>
                    <button class="btn btn-sm btn-primary" style="float:right;" type="submit">Enviar Dados</button>
                </div>
            }




        }
        else
        {
            <p class="text-danger">Sem Itens No Carrinho</p>
        }
    }
    else
    {
        <p class="text-danger">Sem Itens No Carrinho</p>
    }

</div>