@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/stylesheets/bootstrap")


</head>
<body style="background-color:#CC0000;">
    <br />
    <br />
    <div class="container">

        <div class="container">
            <div class="col-md-8 col-md-offset-2 vcenter">
                <div class="jumbotron">
                    <center>
                        <h3>SEMANA MALUCA PROS BETAS! + XP + DROP + RESET LV350</h3>
                        <h3>ATUALIZOU!!! @Mu.Config.Version</h3>
                        <h4>
                            Faça o <a href="@Mu.Config.DownloadClientUrl">Download</a><br />
                        </h4>
                        <p>e execute o .reg com a resolução e depois o Launcher.exe</p>
                        <table class="table table-striped table-hover text-center">
                            <tr>
                                <td>
                                   Magic Gladiator e Dark Lord
                                </td>
                                <td>
                                    Habilita com qualquer char lvl 220+ na conta
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /trade
                                </td>
                                <td>
                                    Funciona só longe de NPCs
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /bau 0 e /bau 1
                                </td>
                                <td>
                                    troca de bau (todas as contas tem 2 baus)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    /bixinho
                                </td>
                                <td>
                                    Invoca um ajudante
                                </td>
                            </tr>
                        </table>

                    </center>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/scripts/bootstrap")
</body>
</html>


